
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display|Lora|Roboto+Slab&display=swap');

@import url('components/container.css');
@import url('components/avatar.css');
@import url( 'components/button.css');
@import url("components/banner.css");
@import url('components/card.css');

body {

	font-family: 'Lora', serif;
	font-size: 18px;
	margin: 0px;
	background-color: #F9F9F9;

}

h1 {

	color: #E1E1E1;
}

h1, h2, h3 {

	font-family: 'Roboto Slab', serif;
	font-size: bold, 26px;
}

a {

	text-decoration: none;

}

#adress {

	border-radius: 6px;
	height: 300px;
	width: 600px;
	margin: 10px auto;
	border: 3px solid black;

}